@media(max-width: 768px) {
body {
    background-position: center;
    padding: 0 15px;

}

.slider {
   gap: 10px;
}
}  

@media(max-width: 496px) {
    .lista-personagens {
        width: 250px;
    }

    .imagem-carta {
        width: 100%;
    }

    .slider {
        position: relative;
    }

    .btn-seta {
        position: absolute;
        bottom: -13%;
    }
    
    #btn-avancar {
        right: 20%;
    }
    
    #btn-voltar {
        left: 20%;
    }
}


@media(max-width: 375px) {
    body {
        justify-content: start;
        padding-top: 10px;
        gap: 10px;
    }

    .cabecalho {
        font-size: 12px;
    }
}    

@media(max-width: 320px) {
    body {
        justify-content: start;
        padding: 8px;
    }

    .lista-personagens {
        width: 200px;
        height: 350px;
    }

    .btn-seta {
        bottom: -42%;
        width: 50px;
        height: 50px;
    }


    .cabecalho {
        font-size: 8px;
    }
}
